@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-title {
        @apply text-black text-opacity-80 text-2xl;
    }

    .page-desc {
        @apply text-sm;
    }

    .btn {
        @apply font-normal text-base rounded-3xl;
    }

    .btn-blue {
        @apply text-white bg-blue border-0;
    }

    .btn-blue:hover {
        @apply bg-blue brightness-90;
    }

    .input {
        @apply rounded-full bg-black bg-opacity-5 border-transparent;
    }
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src        : url('../assets/fonts/Inter/Inter-Regular.ttf');
}

.input:focus {
    outline: none;
    border : 1px solid #3840ff;
}

.btn {
    text-transform: unset;
}